.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 0 20px;
  list-style: none;
  border-bottom: 2px solid;
}

.hero-section {
  height: 100vh;
  background-image: url('./images/snowySky.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.image-container{
  position: relative;
  z-index: 2;
}

.background{
  position: fixed;
  top: 20vh;
  left: 20vw;
  font-size: 10rem;
}

.forground{
  width: 100%;
  object-fit: cover;
  z-index: 2;
}

#mountain-text {
  color: #1b353b;
}

.carousel-container{
  min-height: 100vh;
  position: relative;
  background-color: white;
  z-index: 2;
}

.carousel-hero-image{
  width: 100%;
  object-fit: cover;
  object-position: center ;
}

.carousel-container{
  background-color: #ffffff;
  height: 20vh;
}

.carousel-image{
  height: 10px;
}